.container#post_comments_show{data: {post_id: @post.id}}
  .comment_header
    .comment_header_backlink
      = link_to '<', :back
    .comment_header_title
      Comment
  .comments_container
    - @comments.each do |comment|
      .comment
        .comment_avatar
          = image_tag comment.user.avatar_image
        .comment_right_column
          .comment_owner
            = comment.user.account_name
          .comment_content
            = comment.content

  - if user_signed_in?
    .comment_form
      = form_with(model: @comments.build, url: post_comments_path(@comments.build.post), data: { turbo: false }) do |f|
        = image_tag 'comment.png', id: 'comment_submit'
        = f.text_field :content, class: 'comment_text', id: "textarea"

= javascript_import_module_tag 'comment'