.container
  = link_to new_post_path do
    = image_tag 'photo-camera.png'
  - @posts.each do |post|
    .post
      .post_owner
        .post_owner_avatar
          = image_tag post.user.avatar_image
        .post_owner_column
          .post_owner_name
            = post.user.account_name
          .post_updated_time
            = post.updated_time
      - if post.images.attached?
        .post_images
          - post.images.each do |image|
            = image_tag image
      .post_actions
        = image_tag 'inactive heart.png'
        = image_tag 'comment.png'
        = link_to "https://twitter.com/share?url=#{post_url(post)}&text=#{post.content}", target: '_blank', data: { toggle: "tooltip", placement: "bottom" }, title: "Xでシェア" do
          = image_tag 'share.png'
      %p.like_summary
        Jasmin and 12,000 other liked your post
      .post_content
        %span.post_content_owner= post.user.account_name
        %span= post.content

= javascript_import_module_tag 'post'